<h3>Hi Mr./Mrs {{firstName}} {{lastName}}</h3>
<p>Your new channel <strong> {{channelName}} </strong> for the zone '{{zoneName}}' has been created</p>
<p>Click the link below to enter your channel now!</p>
<a href="{{link}}">Click Here</a>