<h3>Hi Mr./Mrs {{fullName}}</h3>
<p>
   You created a new video with the information below.
</p>

<p>Video Name: <strong>{{videoPost.title}}</strong></p>
<p>Video Description: <strong>{{videoPost.description}}</strong></p>
<p>Date Created: <strong>{{videoPost.createdOn}}</strong></p>
<p>Video Link: <strong>{{link}}</strong></p>